<!-- Modal -->
<div class="modal fade" data-following-target="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @users.any? %>
          <ul class="users">
            <% @users.each do |user| %>
              <%= link_to user.username, profile_path(user) %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>