<p id="notice"><%= notice %></p>

<div class="mb-4">
  <h1>My Articles</h1>
  <span><%= link_to 'New Article', new_article_path, class: "btn btn-primary" %><span>
</div>

<div class="row">
  <div class="col-6">
    <h2>Published</h2>
    <%= render @articles %>
  </div>
  <div class="col-6">
    <h2>Draft</h2>
    <% @draft_articles.each do |article| %>
      <%= render 'article', article: article %>
    <% end %>
  </div>
</div>

