<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>What's New</h1>
  <%= button_to mark_as_read_notifications_path, method: :post, class: "btn btn-primary" do %>
    Mark all as read
  <% end %>
</div>

<div class="card">
  <div class="card-body">
    <% if @notifications.empty? %>
      <div>Exciting stuff coming very soon!</div>
    <% end %>
    <div id="notifications">
      <%= render @notifications %>
    </div>
  </div>
</div>