<li>
  <a class="dropdown-item text-wrap" href="#">
    <p class="small text-uppercase mb-2">1/3/2022</p>
    <p class="mb-0">CSS libraries visualized as a fantasy map. Add your own ideas to this open world.</p>
  </a>
</li>