<li class="<%= notification_color(notification) %>">
 <%= link_to notification.to_notification.url, class: "dropdown-item text-wrap" do %>
    <p class="small text-uppercase mb-2"><%= notification.created_at.strftime("%b %d") %></p>
    <p class="mb-0"><%= simple_format notification.to_notification.message %></p>
  <% end %>
</li>