  <div class="col-sm-4 d-none d-sm-block">
    <div class="mb-5">
      <h4>All Tags</h4>
      <hr>
      <% @tags.each do |tag| %>
        <%= link_to tag, tagged_path(tag: tag), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>

    <div>
      <h4>Top Authors</h4>
      <hr>
      <ul>
        <% User.all.each do |user| %>
          <li><%= link_to user.username, root_path(author: user) %> - <%= user.articles.count %></li>
        <% end %>
      </ul> 
    </div>

  </div>