<ul class="nav nav-tabs border-bottom">
  <li class="nav-item">
    <%= link_to "All Articles", root_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Feeds", feed_path, class: "nav-link" %></h4>
  </li>
  <li class="nav-item">
    <%= link_to " My Articles", articles_path, class: "nav-link" %>
  </li>
</ul>