<p id="notice"><%= notice %></p>

<h1>Feeds</h1>
<p>Number of Article: <%= @articles_count %></p>

<div class="row">
  <div class="col-md-8 row">
    <% @articles.each do |article| %>
      <div class="col-6">
        <%= render 'home/article', article: article %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4 ms-4 mt-4 bg-light">
    <h4 class="my-2">Reading List</h5>
    <% @clips.each do |clip| %>
      <%= render 'home/article', article: clip.article %>
    <% end %>
  </div>
</div>


<br>