<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-8">
    <div class="mb-4">
      <%= render "home/tab" %>
    </div>
    <div id="articles">
      <%= render partial: "article", collection: @articles %>
    </div>
  </div>
  <div class="col-sm-4">
    <h4 class="my-2">Reading List</h5>
    <% @clips.each do |clip| %>
    <% end %>
  </div>
</div>
