<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<p>Number of Article: <%= @articles_count %></p>

<div class="row">
  <% @articles.each do |article| %>
    <%= render 'home/article', article: article %>
  <% end %>
</div>


<br>