<h3 class="mb-4">
  <span>Statistics</span>
</h3>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">7 Days views</div>
      <div class="card-body">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      7 Days views
    </div>
  </div>
</div>
